PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://gabinete:gabinete@localhost:5432/gabinete_dev"
JWT_ACCESS_SECRET="troque-por-um-segredo-aleatorio-de-32-caracteres"
JWT_REFRESH_SECRET="troque-por-outro-segredo-aleatorio-de-32-caracteres"
FRONTEND_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
